/* Struttura pagina */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(246, 248, 249);
}

header{
  height: 80px;
  background-color: white;
  margin-bottom: 60px;

}

main div{
  margin: 30px;
}

/* /Struttura pagina */

/* header */
h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
  margin-top: 15px;
}

header .logo img{
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 20px;
}
/* header */

/* linea che taglia */
hr#linea{
  border: 2px solid rgb(246, 248, 249);
  margin-left: -100px;
  margin-bottom: 40px;
}


/* Contenitore principale */
.container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding-left: 60px;
  padding-top: 20px;
  border-radius: 10px;
  border: 10px;
}

/* bottoni */
.button{
  display: inline-block;
  max-height: 50px;
  padding: 10px;
  margin: 3px;
  border: 2.5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button span{
  text-align: center;
}

.button#add-task{
  background-color: rgb(71, 173, 241);
  color: white;
}

.button#section{
  padding: 8px;
  border-color: rgb(211, 215, 219);
  color: rgb(211, 215, 219);
  border-width: 2px;
  border-style: solid;
}
/* /bottoni */

/* task */
.task{

}

.circle{
  display: inline-block;
  height: 15px;
  width: 15px;
  text-align: center;

  border-radius: 50%;
  border: 1px;
  border-style: solid;

  font-size: 10px;
  margin-right: 10px;
  margin: 15px;
  

}

.circle#check{
  border-color: green;
  color: green;
}

.circle#cross{
  border-color: red;
  color: red;
}

/* /task */

/* Tipologia */
.type{
  color: white;
  display: inline-block;
  text-align: center;
  width: 80px;
  padding: 6px;
  margin: 5px;
  border-radius: 13px;
  font-size: 14px;
  font-weight: 600;
}

.type#editorial{
  background-color: rgb(69, 171, 234);
}

.type#goals{
  background-color: rgb(156, 114, 228);
}

.type#recruiting{
  background-color: rgb(100, 192, 169);
}

.type#mobile{
  background-color: rgb(242, 158, 51);
}

.type#web{
  background-color: rgb(216, 99, 161);
}

.type#sales{
  background-color: rgb(176, 201, 38);
}
/* Tipologia */


/* .task::before{
  content: ' &#9662; ';
} */
/* &blacktriangledown; */